Source: keypop
Section: utils
Priority: optional
Maintainer: justanoobcoder <syaorancode@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 g++,
 gcc,
 make,
 pkg-config,
 wayland-scanner++,
 wayland-protocols,
 libwayland-dev,
 libcairo2-dev,
 libpango1.0-dev,
 libinput-dev,
 libudev-dev,
 libxkbcommon-dev,
 libgtk-3-dev,
 libappindicator3-dev,
Standards-Version: 4.6.2
Homepage: https://github.com/justanoobcoder/keypop
Rules-Requires-Root: no

Package: keypop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wayland keystroke visualizer
 keypop is a lightweight overlay that displays keystrokes and mouse clicks
 in real time on Wayland compositors. It reads input via libinput/udev and
 renders an anti-aliased overlay using Cairo and Pango.
